{{if .IsSlice}}
	ln{{.Name}} := uint16(len(rcv.{{.Name}}))
   buf[off] = byte(ln{{.Name}})
   buf[off + 1] = byte(ln{{.Name}} >> 8)
   off += 2
   for i := uint16(0); i < ln{{.Name}}; i++ {
   	off = rcv.{{.Name}}[i].MarshalBody(buf, off)
   }
{{else}}
	for i := 0; i < {{.ArraySize}}; i++ {
   	off = rcv.{{.Name}}[i].MarshalBody(buf, off)
   }
{{end}}