// generated with bufobjects: https://github.com/paidgeek/bufobjects

package {{.PackageName}}
import (
	{{- range .Imports}}
	"{{.}}"
	{{- end}}
)
const (
{{- range .Objects}}
	Id{{.RawName}} uint16 = {{.Id}}
{{end -}}
)
type {{.InterfaceName}} interface {
	Id() uint16
	Size() int
	IsVariableSize() bool
	Marshal(buf []byte, off int) int
	Unmarshal(buf []byte, off int) int
}
{{.ObjectsImpl}}
func {{.FactoryName}}(id uint16) {{.InterfaceName}} {
	switch id {
	{{- range .Objects}}
	case {{.Id}}:
		return &{{.Name}}{}
	{{end -}}
	default:
		return nil
	}
}
