v{{.Name}} := *(*uint64)(unsafe.Pointer(&(rcv.{{.Name}})))
buf[off] = byte(v{{.Name}})
buf[off + 1] = byte(v{{.Name}} >> 8)
buf[off + 2] = byte(v{{.Name}} >> 16)
buf[off + 3] = byte(v{{.Name}} >> 24)
buf[off + 4] = byte(v{{.Name}} >> 32)
buf[off + 5] = byte(v{{.Name}} >> 40)
buf[off + 6] = byte(v{{.Name}} >> 48)
buf[off + 7] = byte(v{{.Name}} >> 56)
off += 8